@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Maven Pro", sans-serif;
  color: white;
  background-color: rgb(13, 17, 23);
}
.fade-on-appear {
  animation: fadein 0.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
